:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #000000;
    --text-color-dark: #ffffff;
  }
  
  body.light-theme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  
  body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  header {
    text-align: center; /* Centra el texto del encabezado */
    font-size: 24px; /* Aumenta el tamaño del texto */
  }
  
  .playlist-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px; 
  }

  body, code {
    font: 'Consolas';
  }
  