:root {
  --background-color-light: #f0f0f0; /* Un gris claro en lugar de blanco puro */
  --text-color-light: #000000;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}

body.light-theme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

header {
  text-align: center;
  font-size: 24px;
}

.playlist-name {
  white-space: normal; /* Permitir que el texto se ajuste */
  overflow: visible; /* Mostrar todo el texto */
  text-overflow: clip; /* No recortar el texto */
  width: 100%; /* Asegurarse de que el texto ocupe todo el ancho disponible */
  font-size: 18px; /* Mantener el tamaño de la fuente */
}

body, code {
  font-family: 'Consolas'; /* Asegúrate de usar 'font-family' en lugar de 'font' */
}
